body {
    min-width: 750px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    background-color: #191919;
    color: #d4d4d4;
    font-family: Helvetica, sans-serif
}
button {
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    padding: 15px 20px;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #d4d4d4;
    text-shadow: 0px 0px 20px #000000;
    border-radius: 10px;
    background-image: linear-gradient(to right,  #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
button:hover {
    background-position: right center;
}
button:active {
    background-position: left center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container p {
margin: 0;
}

nav {
    text-align: center;
}
nav ul {
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
    margin: 0% 0.5% 0% 0.5%;
}

.horizontal-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .horizontal-list li {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .horizontal-list li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ffcc00;
    transition: width 0.3s;
  }
  
  .horizontal-list li:hover {
    background-color: #f0f0f0;
  }
  
  .horizontal-list li:hover::before {
    width: 100%;
  }
  
h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px
}
h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    padding-top: 25px;
}
.exclude {
    padding-top: 0px;
}

hr {
    height: 1.5px;
    background-color: #373737;
    border-width: 0px;
}

div {
    padding: 15px 0px 15px 0px ;
    width: auto;
}

p {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    letter-spacing: 1px
}
/* removes underline */
a { 
    text-decoration: none;
}
a:hover{
    color: #B3B3E6
}
/* unvisited link */
a:link {
    color: #d4d4d4
}
/* visited link */
a:visited {
    color: #d4d4d4
}
a:focus{
    color: #8181B4
}
/* selected link */
a:active {
    color: #B3B3E6
}
footer {
    padding: 5% 0% 10% 0%;
    text-align: center;
}
footer p {
    letter-spacing: 4px;
    font-size: 15px;
    margin: 0px;
}